/* إعدادات عامة */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0e7e8b7;
  color: #1e2002;
  font-family: 'Tajawal', sans-serif;
  line-height: 1.8;
}

/* الهيدر */
header {
  background-color: #770a18de;
  color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(61, 4, 9, 0.836);
}

header img {
  height: 90px;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
  color: #021520;
}

/* القائمة الجانبية */

#sidebar {
  width: 0;
  height: 100vh;
  background: #e0d4d4;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: .45s;
  z-index: 100;
}

#sidebar.active {
  width: 70%;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 50px 20px;
}

#sidebar ul li {
  margin-bottom: 20px;
}

#sidebar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #0d064d;
  font-weight: bold;
}

#sidebar ul li a:hover {
  color: rgb(71, 11, 11);
}





/* طبقة التعتيم */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(122, 29, 29, 0.507);
  display: none;
  z-index: 500;
}

/* قسم الترحيب */
.hero {
  text-align: center;
  padding: 90px 50px;
}

.hero h1 {
  font-family: 'El Messiri', sans-serif;
  font-size: 26px;
  color: #021520;
  margin-bottom: 20px;
}

/* النبذة */
.about {
  
  background-color: #420916; /* اللون البنفسجي الفاتح الحالي */
  background: linear-gradient(
  rgba(232, 236, 243, 0.89),
  #e69da8de
), #cc7d8eb9
;
  /* الخلفية المائية */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* أو cover حسب حجم الصورة */
  opacity: 1; /* خليه واضح */
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(126, 83, 87, 0.747);
  max-width: 800px;
  margin: 0 auto;
  text-align: right;

}

.about h2 {
  font-family: 'El Messiri', sans-serif;
  color: #021520;
  margin-bottom: 15px;
  font-size: 24px;
}

.about p {
  font-family: 'Lateef', serif;
  color: #150517;
  font-size: 20px;
  line-height: 2;
}

/* الخدمات */
h1 {
  text-align: center;
  margin: 50px 0 20px;
  color: rgb(2, 21, 32)
  font-family 'El Messiri', sans-serif;
  font-size : 28px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  
}

.card {
  background: #ffffff;
  border: 2px solid #580e0e;
  border-radius: 15px;
  width: 230px;
  text-align: center;
  text-decoration: none;
  color: #03263ad0;
  transition: all 0.3s ease;
  box-shadow: 0 3px 8px rgba(42, 51, 132, 0.1);
}

.card:hover {
  background-color: #7c2222;
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 150px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
}

/* واتساب */
.whatsapp {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.whatsapp img {
  width: 60px;
  height: 60px;
}

/* تجاوب الجوال */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }
}

.slider-container {
    width: 85%;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.slider {
    display: flex;
    transition: 0.7s ease-in-out;
}

.slider img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* الأسهم */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    border: none;
    font-size: 35px;
    padding: 8px 18px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}

.prev { left: 10px; }
.next { right: 10px; }

/* النقاط */
.dots {
    text-align: center;
    padding: 15px 0;
}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.dots .active {
    background: #8f6e38;
    transform: scale(1.5);
}
